<% provide(:title, 'Contact') %>
<h1> Contact Info:</h1>
<p>
  Dies ist nur ein Test, bitte weiter gehen
</p>
Weiter geht es dann hier:
<br>aber nur wenn du mich auch magst
<p>
<br>oder auch nicht...
<a href="http://www.google.de">google.de</a>
</p>